.container {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .p-field {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .selected-icon {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .icon-list {
    max-height: 200px;
    overflow-y: auto;
  }
  
  .icon-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 0;
  }
  
  .icon-item:hover {
    background-color: #f4f4f4;
  }

  .field-label {
    margin-bottom: 8px; /* Отступ между label и textarea */
    font-weight: bold;
  }
  
  textarea {
    width: 100%;
    resize: vertical; /* Разрешаем изменение размера по вертикали */
  }
  .button-container {
    display: flex;
    justify-content: space-between; /* Расставляем кнопки по краям */
    margin-top: 20px; /* Добавляем немного отступа */
  }

  .p-table {
    width: 100%;
    margin-top: 20px;
  }
  
  .p-table thead th {
    text-align: left;
  }
  .custom-steps .p-steps-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .multiselect{
    position: absolute;
    right: 40px;
  }