<p-dialog header="Создать проект" [modal]="true" [(visible)]="visible" (onHide)="activeIndex=0" >
    <div class="container">
        <!-- Компонент Steps -->
        <p-steps [model]="steps" [(activeIndex)]="activeIndex" styleClass="custom-steps"></p-steps>
      
        <!-- Шаг 1: Название, описание проекта и выбор иконки -->
        <div *ngIf="activeIndex === 0">
          
            <div class="p-field">
                
                <div *ngIf="selectedIcon" class="selected-icon">
                    <div class="icon-circle" [style.background-color]="selectedIconColor">
                    <i [class]="selectedIcon" style="color: white;"></i>
                    </div>
                    {{projectTitle}}
                </div>
            </div>

          <div class="p-field">
            <label for="title">Название  проекта</label>
            <input id="title" type="text" pInputText [(ngModel)]="projectTitle" placeholder="Введите название проекта"
              required #inputField="ngModel">
          </div>
          
          <div class="p-field">
            <label for="description" class="field-label">Описание проекта</label>
            <textarea id="description" pInputText [(ngModel)]="projectDescription" rows="5" cols="30" placeholder="Введите описание проекта"></textarea>
          </div>
      
          <div style="display: flex;justify-content: space-between;">
            <button pButton type="button" label="Выберите иконку проекта" icon="pi pi-image" (click)="openIconDialog()"></button>
            <p-multiSelect 
                [options]="(tagsService.tags.getValue())!"
                [(ngModel)]="selectTags"
                optionLabel="name" 
                display="chip"
                placeholder="Теги проекта" 
                class="multiselect">
                <ng-template let-item pTemplate="item">
                  <div class="custom-option">
                    <span>{{ item.name }}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
          </div>
          
          <div class="button-container">
            <p-button label="Далее" icon="pi pi-arrow-right" (click)="activeIndex = 1" *ngIf="!inputField.invalid"></p-button>
          </div>
        </div>
      
        <!-- Шаг 2: Выбор пользователей -->
        <div *ngIf="activeIndex === 1">
          
          <p-table 
            [value]="users" 
            [paginator]="true" 
            [rows]="5" 
            [filterDelay]="300"
            [(selection)]="selectedUsers"
            >
            <!-- Фильтр по имени -->
            <ng-template pTemplate="header">
              <tr>
                <th></th>
                <th pSortableColumn style="width: 300px;"> ФИО
                    <p-columnFilter
                        type="text"
                        field="fio"
                        placeholder="Поиск по имени"
                        ariaLabel="Фильтр ФИО"
                    ></p-columnFilter>
                </th>
                <th> Роль
                    <p-columnFilter field="role" [matchMode]="'equals'">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-dropdown 
                            [ngModel]="value" 
                            [options]="roles" 
                            (onChange)="filter($event.value)" 
                            placeholder="Select One" 
                            [showClear]="true"
                            optionLabel="label"
                            optionValue="value"
                            modal="true">
                          </p-dropdown>
                        </ng-template>
                      </p-columnFilter>
                </th>
              </tr>
              <!-- <tr>
                <th style="width: 2px"><p-tableHeaderCheckbox /></th>
                <th pSortableColumn="name">ФИО</th>
                <th pSortableColumn="role">Роль</th>
              </tr> -->
            </ng-template>
        
            <!-- Данные таблицы -->
            <ng-template pTemplate="body" let-user>
              <tr>
                <td> <p-tableCheckbox [value]="user" /></td>
                <td>
                    <div class="flex items-center gap-2">
                        <!-- <img [alt]="user.fio" src="https://primefaces.org/cdn/primeng/images/demo/avatar/ionibowcher.png" width="32" style="vertical-align: middle" /> -->
                        <span>{{ user.fio }}</span>
                    </div>
                </td>
                <td>{{ user.role }}</td>
              </tr>
            </ng-template>
          </p-table>
          
          <div class="button-container">
            <p-button label="Назад" icon="pi pi-arrow-left" (click)="activeIndex = 0"></p-button>
            <p-button [label]="addEditBtn" icon="pi pi-check" (click)="addProject()" *ngIf="!isDisabled"></p-button>
          </div>
        </div>
      
        <!-- Модальное окно для выбора иконки -->
        <p-dialog [(visible)]="displayIconDialog" [modal]="true" [closable]="false" [style]="{width: '200px'}" [responsive]="true">
          <h3>Выберите иконку проекта</h3>
          
          <!-- Прокручиваемый список иконок -->
          <div class="icon-list">
            <div *ngFor="let icon of icons" class="icon-item" (click)="selectIcon(icon.value)">
              <i [class]="icon.value" style="font-size: 24px; margin-right: 10px;"></i> 
            </div>
          </div>
          
          <!-- Выбор цвета для иконки -->
          <div class="p-field">
            <label for="iconColor">Выберите цвет</label>
            <p-colorPicker [(ngModel)]="selectedIconColor" [style]="{width: '100%'}" [appendTo]="'body'"></p-colorPicker>
          </div>
          
          <p-footer>
            <p-button label="Закрыть" icon="pi pi-times" (click)="displayIconDialog = false"></p-button>
          </p-footer>
        </p-dialog>
      </div>

    </p-dialog>