<p-dialog [header]="title" [modal]="true" [(visible)]="isOpen" position="top" [style]="{width: '800px'}">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="project">Проект</label>
        <p-autoComplete id="project" formControlName="project" [suggestions]="projects"
          (completeMethod)="searchProjects($event)" field="name" [dropdown]="true">
        </p-autoComplete>
      </div>

      <div class="p-field">
        <label for="task">Задача</label>
        <p-autoComplete id="task" formControlName="task" [suggestions]="tasks" (completeMethod)="searchTasks($event)"
          field="name" [dropdown]="true">
        </p-autoComplete>
      </div>

      <div class="p-field">
        <button pButton type="submit" label="Подтвердить" [disabled]="formGroup.invalid"></button>
      </div>
    </div>
  </form>
</p-dialog>
