.image{
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  height: 95px;
  width: 95px;
  margin-bottom: 10px;
}

.image img{
  height: 95px;
  width: 95px;
  /* margin-top: -42px; */
  object-fit: cover;
}
