<section >
    <p-table  selectionMode="single" [(selection)]="selectedUser" (selectionChange)="userUIService.selectedUser.next(selectedUser)"
        [value]="(userUIService.users | async)!" [scrollable]="true" >
        <ng-template pTemplate="header">
            <tr>
                <th>ФИО</th>
                <th>Логин</th>
                <th>Email</th>
                <th>Роль</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user >
            <tr [pSelectableRow]="user">
                <td>{{user.firstName + ' ' + user.secondName + ' ' + user.lastName}}</td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role ? user.role.title : 'Не назначена'}}</td>
            </tr>
        </ng-template>
    </p-table>
</section>
