<p-card header="Название проекта">
  <p-button label="Добавить задачу" icon="pi pi-plus" (onClick)="createTaskDialog.showDialog()"></p-button>
  <p-divider></p-divider>
  <!-- <div *ngFor="let task of tasks" style="margin-top: 20px;"> -->
    <p-accordion [activeIndex]="0">
      <p-accordionTab [header]="task.name" *ngFor="let task of tasks">
        <app-task [task]="task" (deleteTask)="removeTask($event)" (updateTask)="changeTask($event)"></app-task>
      </p-accordionTab>
    </p-accordion>
  <!-- </div> -->
</p-card>

<!-- Используем компонент диалогового окна -->
<app-create-task #createTaskDialog (createTask)="addTask($event)"></app-create-task>