<p-sidebar [(visible)]="visible" [style]="{ 'width': '40%' }" position="right" [showCloseIcon]="true"
  [dismissible]="false" [modal]="false">

  <div class="sidebar-content">
    <p-tabView>
      <p-tabPanel header="Чат">
        <p>
          Lorem ipsum dolor sit amet...
        </p>
      </p-tabPanel>
      <p-tabPanel header="Редактирование">
        <app-edit-task></app-edit-task>
      </p-tabPanel>
      <p-tabPanel header="Описание">
        <p>
          Lorem ipsum dolor sit amet...
        </p>
      </p-tabPanel>
      <p-tabPanel header="Исполнители">
        <p>
          Lorem ipsum dolor sit amet...
        </p>
      </p-tabPanel>
    </p-tabView>

  </div>

  <!-- <div 
    class="resize-handle"
    (mousedown)="onResizeStart($event)"
    (document:mousemove)="onMouseMove($event)"
    (document:mouseup)="onResizeEnd()">
  </div> -->

</p-sidebar>