<div class="p-fluid">
  <div class="p-field">
    <label for="editedTitle">Название задачи</label>
    <textarea id="editedTitle" pInputTextarea [(ngModel)]="editedTitle"></textarea>
  </div>
  <div class="p-field">
    <label for="editedTitle">Состояние</label>
    <p-dropdown [options]="states" [(ngModel)]="selectStateId" optionLabel="name" optionValue="id" [showClear]="true"
      placeholder="Выберите состояние задачи" />
  </div>
  <div class="p-field">
    <label for="editedTitle">Приоритет</label>
    <p-dropdown [options]="prioritys" [(ngModel)]="selectPriorityId" optionLabel="name" optionValue="id"
      [showClear]="true" placeholder="Выберите приоритет задачи" />
  </div>
  <div class="p-field">
    <label for="editedTitle">Дедлайн</label>
    <p-calendar [(ngModel)]="selectDeadline" [showTime]="true"  hourFormat="24" />
  </div>

  <div class="mt-5">
    <p-button label="Сохранить изменения" (onClick)="onSave()" styleClass="p-button-success"></p-button>
  </div>
</div>