<section class="w-full h-full">
  <div class="flex flex-row justify-between mb-2">
    <h1>Мои проекты</h1>
    <div>
      <p-checkbox id="finished" label="Завершенные" [value]="isFinished">
      </p-checkbox>
    </div>
  </div>
  <p-table [value]="projects">
    <ng-template pTemplate="header">
      <tr>
        <th>Наименование</th>
        <th>Кол-во задач</th>
        <th>Выполнено</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project>
      <tr>
        <td>{{project.name}}</td>
        <td>{{project.tasks_cnt}}</td>
        <td>{{project.percent + '%'}}</td>
      </tr>
    </ng-template>
  </p-table>
</section>
