<a [routerLink]="'/' + role.startingUrl" class="flex min-w-[300px] w-full h-full min-h-[100px] hover:bg-light-accent 
    active:grayscale-[0.5] bg-white rounded-2xl shadow-2xl hover:bg-light-accent">
    <section gridRows="1fr auto" class="h-full w-full">
        <!-- <app-image [economyMode]="false" [id]="module.idLogo" class="m-auto h-[160px] mt-[24px]"></app-image> -->
        <p class="m-4 min-h-[80px] mx-auto text-accent font-bold text-3xl text-center">{{role.name}}</p>
    </section>
</a>