<a 
    class="relative flex flex-col "
    [ngClass]="{
        'bg-slate-50 px-[-4px]' : navigationButton.expanded
    }">
    <a 
        id="navigationButton"
        [style.padding-left]="paddingLeft + 'px'"
        (click)="navButtonClick()"
        [routerLink]="routerLink"
        class="flex flex-row transition-all justify-between w-full hover:cursor-pointer overflow-hidden pr-2 h-[var(--tree-item-height)]"
        [attr.data-selected]="navigationButton.selected == true"
        gridColumns="auto 1fr auto">
        <span class="material-symbols-outlined text-center w-4 mr-5 my-auto  text-accent">{{navigationButton.iconClass}}</span>
        <div
            class="my-auto overflow-hidden text-left text-sm">
            {{navigationButton.caption}}
        </div>
        <app-round-button 
            *ngIf="navigationButton.children != null"
            iconClass=" pi pi-chevron-down "
            (onClick)="expandClick()"
            class="my-auto transition-all duration-300"
            [ngClass]="{
                'rotate-180' : navigationButton.expanded
        }"/>
       
        <nav *ngIf="level==1" class="flex flex-col absolute z-10 left-0 top-0 bottom-0 w-[var(--tree-icon-width)]">
            <div  
                [ngClass]="navigationButton.selected ? 'bg-accent' : 'bg-white'"
                class=" rounded-full w-[10px] h-[10px] border-2 transition-all border-accent m-auto z-20">
    
            </div>
    
            <div class="absolute top-0 bottom-0 left-[calc(var(--tree-icon-width)/2-1px)] bg-black w-0.5"></div>       
        </nav>
    </a>
    <app-navigation-tree
        [paddingLeft]="paddingLeft"
        [level]="level+1"
        class="overflow-hidden duration-300 transition-all"
        [ngClass]="navigationButton.children != null && navigationButton.children.length != 0 && navigationButton.expanded ? 'max-h-96' : 'max-h-0'"
        [navigationButton]="navigationButton"
        [navigationButtons]="navigationButton.children!">

    </app-navigation-tree>

   

    <!-- expanded line -->
    
   <!--  <div 
        id="whatever"
        [ngClass]="{
            'border-l-4 ' : navigationButton.expanded,
            'border-l-0 ' : !navigationButton.expanded
        }"
        class=" transition-all duration-75 absolute border-l-4 h-full border-violet-600 left-0"></div> -->
</a>
