.custom-card {
    transition: transform 0.2s; /* Плавный переход */
}

.custom-card:hover {
    transform: scale(1.05); /* Увеличение карточки при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень при наведении */
}
