<p-card [header]="task.name" [style]="{ 'margin-bottom': '10px' }">
  <p>{{ task.description }}</p>
  <p-button
  label="Редактировать"
  (onClick)="openEditSidebar()"
  styleClass="p-button-secondary p-button-sm"
  ></p-button>
  <p-button
  label="Удалить задачу"
  (onClick)="onDelete()"
  styleClass="p-button-danger p-button-sm"
  ></p-button>
  <!-- <p-button
    [label]="E"
    (onClick)="toggleCompletion()"
    styleClass="p-button-sm"
  ></p-button> -->
</p-card>

<!-- Используем компонент боковой панели -->
<app-edit-task
  [(visible)]="editSidebarVisible"
  [task]="task"
  (saveChanges)="onSaveChanges($event)"
></app-edit-task>