
<section class="h-16  inner-shadow-right col-span-1 
                flex flex-row justify-between p-2">
       
    <!-- <div class="group flex flex-row h-full  p-2 cursor-pointer text-slate-700  active:text-light hover:scale-105 transition-all">
        <i class=" pi pi-home my-auto text-2xl mr-2 transition-all"></i>
        <div class="my-auto leading-4">
            <div >Все </div>
            <div >приложения</div>
        </div>
    </div> -->
    <div class="flex">
        <app-round-button iconClass="pi pi-bars" class="my-auto mr-4 block sm:hidden" (click)="changeVisibilityClick()"></app-round-button>
    </div>

    <app-about class="h-full" />
</section>