<div class="h-full flex flex-row">

   
    <div class="h-full mx-2 w-[1px] bg-gray-300"></div>


    <!-- <img *ngIf="currentUser.idPhoto == null" src="assets/lk-person.png" class="mr-2"/>
    <app-image *ngIf="currentUser.idPhoto != null" [id]="currentUser.idPhoto" class="mr-2"></app-image>

    <div class="my-auto flex flex-col text-center mr-4">
        <span class="text-sm text-right font-bold">{{getFIO()}}</span>
        <div class="flex flex-row mr-auto">
            <span class="text-sm leading-4 text-light">{{currentUser.mainPosition?.name}}</span>
        </div>
    </div> -->

    <app-round-button iconClass="pi pi-sign-out" class="my-auto transition-all duration-300" (onClick)="logout()"/>


    
</div>