<div class="main-grid h-screen">
    <!-- content -->
    <div class="grid w-64 sm:w-96 col-start-2 row-start-2">
        <span class="p-float-label mb-6">
            <input             
                (keydown)="keyDown($event)"
                data-test-id="login"
                id="float-input-name" type="text" pInputText [(ngModel)]="login" class="w-full shadow-md"> 
            <label for="float-input-name" >Логин</label>
        </span>
        <span class="p-float-label mb-6">
            <input id="float-input-password"
                data-test-id="password"
                (keydown)="keyDown($event)"
                type="password" pInputText [(ngModel)]="password" class="w-full shadow-md"> 
            <label for="float-input">Пароль</label>
        </span>

        <button label="Войти" (click)="authoriseClick($event)" pButton class="shadow-md"></button>
        
    </div>
</div>