<p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [closable]="false">
    <ng-template pTemplate="header">
      Создание нового тега
    </ng-template>
  
    <ng-template pTemplate="body">
      <div class="p-fluid">
        <div class="p-field">
          <label for="tagName">Имя тега</label>
          <input id="tagName" [(ngModel)]="tagName" pInputText />
          <div *ngIf="tagNameError" style="color: red; font-size: 12px;">
            Имя тега не может быть пустым!
          </div>
        </div>
      </div>
    </ng-template>
  
    <ng-template pTemplate="footer">
      <button pButton label="Отмена" icon="pi pi-times" (click)="hideDialog()" class="p-button-text"></button>
      <button pButton label="Сохранить" icon="pi pi-check" (click)="saveTag()" [disabled]="!tagName" class="p-button-text"></button>
    </ng-template>
  </p-dialog>