<div class="max-width-full max-h-screen">
  <!-- <div *ngIf="isLoadingProject && isLoadingTask" class="custom-skeleton p-4">
      <p-skeleton width="100%" height="150px"></p-skeleton>
    </div> -->
  <p-card>
    <ng-template pTemplate="header">
      <div class="flex items-center p-4 pl-5 gap-10">
        <span class="font-bold text-3xl capitalize">
        </span>
      </div>
      <app-report></app-report>
    </ng-template>
    <div class="flex gap-10 mb-5 items-center justify-between">
      <button pButton pRipple class="p-button-rounded p-button-primary p-button-text" label="Добавить задачу"
        icon="pi pi-plus" (click)="createTaskDialog.showDialog()"></button>
      <div class="flex flex-row">
        <p-dropdown [options]="uiSettings" [(ngModel)]="selectedUiSetting" optionLabel="name"
          placeholder="Настройки интерфейса" (onChange)='setUiSetting($event)' />
        <!-- <app-icon-button icon='download' (onClick)="isOrderDialogOpen = true" (></app-icon-button> -->
        <p-button icon="pi pi-save " (onClick)="isOrderDialogOpen = true" class="mx-3" />
        <p-checkbox [(ngModel)]='isEditable' [binary]="true" label='Режим редактирования'></p-checkbox>
      </div>
    </div>
    <div *ngIf="!isEditable" class="flex flex-col max-w-full overflow-auto">
      <section *ngFor="let item of planService.tasks" class="mb-5">
        <div *ngIf="item.user.id==this.userId" style="font-weight: bold;" class="mb-2">
          <h2> {{item.user.last_name + ' ' + item.user.first_name + ' ' + item.user.second_name }}</h2>
        </div>
        <div *ngIf="item.user.id!=this.userId" class="mb-2">
          <h2> {{item.user.last_name + ' ' + item.user.first_name + ' ' + item.user.second_name }}</h2>
        </div>
        <app-plan [tasks]="item.tasks"></app-plan>
      </section>       
    </div>
    <p-table *ngIf="isEditable" [value]="planService.tasks"  (onRowReorder)="handleRowReorder($event)" >
      <ng-template pTemplate="body" let-index="rowIndex" let-item>
        <tr [pReorderableRow]="index" class="scrollable-row">
          <td *ngIf="isEditable">
            <span class="pi pi-bars" pReorderableRowHandle></span>
          </td>
          <td>
            <div class="flex flex-col">
              <div *ngIf="item.user.id==this.userId" style="font-weight: bold;">
                <h2> {{item.user.last_name + ' ' + item.user.first_name + ' ' + item.user.second_name }}</h2>
              </div>
              <div *ngIf="item.user.id!=this.userId">
                <h2> {{item.user.last_name + ' ' + item.user.first_name + ' ' + item.user.second_name }}</h2>
              </div>
              
              <!-- <div class="overflow-x-auto">

                <app-plan [tasks]="item.tasks"></app-plan>
              </div>  -->
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="flex flex-col" *ngIf="!isEditable"></div>
    <app-create-task #createTaskDialog></app-create-task>
  </p-card>

  <!-- <app-create-task #createTaskDialog (createTask)="addTask($event)"></app-create-task> -->

  <!-- <app-create-task [projectId]="projectId" #createTaskDialog (createTask)="addTask($event)"></app-create-task> -->
  <app-add-project #add></app-add-project>
  <app-task-sidebar></app-task-sidebar>


</div>

<p-dialog [header]="'Сохранить пресет'" [(visible)]="isOrderDialogOpen" class="orderDialog">
  <section class="flex flex-col">
    <input type="text" pInputText label='Название' class="mb-4" [(ngModel)]='newOrderName' />
    <p-button (onClick)='saveOrder()'>Сохранить</p-button>
  </section>
</p-dialog>