<div class="h-full w-full gap-4 flex flex-col ">
  <div class="flex flex-1 gap-4">
    <div class="card flex-1">
      <app-my-projects></app-my-projects>
    </div>
    <div class="card flex-1">
      <app-tasks-pie-chart></app-tasks-pie-chart>
    </div>
    <div class="card flex-1">
      <app-my-time-usage></app-my-time-usage>
    </div>
  </div>

  <div class="flex flex-1 gap-4">
    <div class="card w-1/5">
      <app-my-notifications></app-my-notifications>
    </div>
    <div class="card w-1/5">
      <app-my-chat></app-my-chat>
    </div>
    <div class="card w-3/5 ">
      <app-my-analytics></app-my-analytics>
    </div>
  </div>
</div>
