.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: left;
    padding: 20px;
  }
  
  p-card {
    width: 300px;
    position: relative; 
    /* height: 200px; */
  }

  .search-container {
    margin: 20px;
    display: flex;
    justify-content: center;
  }

  .header-content {
    display: flex;
    width: 100%; /* Чтобы заголовок занимал всю ширину */
    padding-left: 10px;
  }
  .icon-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;  /* Размер круга */
    height: 50px;  /* Размер круга */
    border-radius: 50%;  /* Округлые углы для круга */
    background-color: #f1f1f1;  /* Цвет фона круга */
    margin-right: 10px;  /* Отступ между иконкой и текстом */
  }
  
  .icon-circle i {
    font-size: 25px;  /* Размер иконки */
    color: #007bff;  /* Цвет иконки */
  }

  span {
    font-size: 15px; /* Размер текста названия проекта */
    font-weight: bold; /* Толщина шрифта для названия */
    display: flex;
    align-items: center;
  }

  .card-options {
    position: absolute;
    top: 2px;
    right: 12px;
    font-size: 1.5em;
    color: #007ad9;  /* Цвет иконки */
    cursor: pointer;
  }

  .filters-container{
    padding: 20px;
  }
  