<div class="filters-container">
    <!-- Поле для поиска с использованием input и директивы pInputText -->
    <input 
      type="text"
      pInputText
      [(ngModel)]="searchText"
      (ngModelChange)="onSearchTextChange($event)"
      placeholder="Поиск по содержимому..."
      style="width: 300px;" />

      <!-- <p-chips [ngModel]="selectedTags" [field]="'name'"></p-chips> -->
      <!-- <p-multiSelect 
        [options]="(tagsService.tags.getValue())!"
        [(ngModel)]="selectedTags" 
        optionLabel="name" 
        placeholder="Поиск по тегам" 
        display="chip" 
        [showClear]="true"/> -->

        <p-multiSelect 
          [options]="(tagsService.tags.getValue())!"
          [(ngModel)]="selectedTags" 
          optionLabel="name" 
          [filter]="true" 
          display="chip"
          placeholder="Поиск по тегам" >
          <ng-template let-item pTemplate="item">
            <div class="custom-option">
              <span>{{ item.name }}</span>
              <button pButton type="button" icon="pi pi-pencil" style="color: rgb(57, 140, 212);background: white;"
                (click)="editTag($event);tagsService.selectedTag.next(item);tags.showDialog()"></button>
              <button pButton type="button" icon="pi pi-trash" style="color: rgb(212, 57, 70);background: white;border-color: rgb(212, 57, 70);"
                (click)="deleteTag($event,item.id)"></button>
            </div>
          </ng-template>
        </p-multiSelect>

        <p-button icon="pi pi-plus" (click)="tagsService.selectedTag.next(undefined);tags.showDialog()"/>
  </div>
  
  <!-- <div class="panel-container">
    <p-panel *ngFor="let project of filteredProjects" 
             [toggleable]="true"
             [collapsed]="false">
        <ng-template pTemplate="header">
        <div class="icon-circle">
            <i *ngIf="project.icon" class="pi pi-home"></i> 
        </div>
        <span class="font-bold">
            {{project.name}}
        </span>
        </ng-template>
      <div>
        <p>{{ project.description }}</p>
      </div>
      <p-footer>
        <button pButton label="Подробнее" icon="pi pi-info-circle"></button>
      </p-footer>
    </p-panel>
  </div> -->

  <div class="card-container">
    <p-card>
      <ng-template pTemplate="content">
          <div style="display: flex;justify-content: center;">
              <div class="icon-circle">
                <i class="pi pi-plus" (click)="this.projectService.selectedPrject.next(undefined);add.showDialog()" style="cursor: pointer;"></i> 
              </div>
            </div>
      </ng-template>
    </p-card>
    <p-card *ngFor="let project of filteredProjects">
        <ng-template pTemplate="content">
            <div class="header-content">
              
                <!-- Иконка в круге и название проекта -->
                <div class="icon-circle" [style.background-color]="project.theme">
                  <i [class]="project.icon" style="color: white;"></i>
                  </div>
                <span>{{ project.name ?? 'Без имени' }}</span>
              </div>
              
              <div class="card-options">
                  <button pButton icon="pi pi-ellipsis-h" 
                    (click)="op.toggle($event);selectProject(project)" 
                    class="p-button-text"></button>

                  <p-overlayPanel #op>
                    <p-menu [model]="items"></p-menu>
                  </p-overlayPanel>
              </div>
        </ng-template>
       
      <!-- <div>
        <p>{{ project.description }}</p>
      </div> -->
      <!-- <p-footer>
        <button pButton label="Подробнее" icon="pi pi-info-circle"></button>
      </p-footer> -->
    </p-card>
  </div>

  <app-add-project #add></app-add-project>
  <app-add-tags #tags></app-add-tags>