<div class="host  h-screen">

    <!-- Toolbar -->
    <app-toolbar/>

    <app-navigation-menu class=" col-start-1 row-start-1 row-span-2 h-full hidden sm:block"/>

    <!-- NavigationMenu -->
    
    <div class=" bg-secondary inner-shadow col-start-2 row-start-2 p-2 ">
        <router-outlet class=""></router-outlet>
    </div>

    <p-sidebar [ngClass]="'sidebar-empty'" [style]="{width:'16.1rem'}" [visible]="isOpen" (visibleChange)="isOpen = !isOpen">
        <app-navigation-menu class=" col-start-1 row-start-1 row-span-2 h-full w-full"/>
    </p-sidebar>

</div>