<section class="flex flex-col h-full w-full">
  <div class="flex flex-row justify-end gap-2 p-2">
    <input style="display: none;" #fi type="file" [value]="userFile" (change)="onUpload($event)">
    <button type="button" pButton
      (click)="fi.click()">Загрузить пользователей</button>
    <!-- <app-icon-button icon="add" (onClick)="addEdit.createShow()">

    </app-icon-button>
    <app-icon-button icon="edit" (onClick)="addEdit.editShow(userUIService.selectedUser.value!)"
      [disabled]="(userUIService.selectedUser | async) == null">

    </app-icon-button>
    <app-icon-button disabledClass="text-red-200" activeClass="text-red-500 hover:bg-gray-100 active:bg-blue-100"
      icon="delete" [disabled]="(userUIService.selectedUser | async) == null" (onClick)="deleteSelectedUser()">

    </app-icon-button> -->
  </div>
  <!--
    <p-divider></p-divider> -->
  <section class="flex-grow overflow-auto">
    <app-user-list #user_list class="w-full h-full"></app-user-list>
  </section>



</section>
<app-add-edit-user #addEdit>

</app-add-edit-user>
<app-set-on-proj #setUser>
</app-set-on-proj>
